body {
  padding: 40px;
  background: #ebda2d;
}

a {
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  color: #ebda2d;
  background: black;
}

a:hover {
  color: blanchedalmond;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

img {
  display: block;
  margin: 0 auto;
}

#recipe-link {
  display: flex !important;
  justify-content: center !important;
  padding: 2px !important;
}
